body{
margin:0;
font-family:'Poppins',sans-serif;
background:#020617;
}

.main-container{
min-height:100vh;
background:
linear-gradient(
135deg,
#020617,
#0f172a,
#1e293b
);
color:white;
}

.glass-card{
background:
rgba(255,255,255,0.08);


backdrop-filter:blur(20px);

border:
1px solid rgba(
    255,
    255,
    255,
    0.1
);

border-radius:25px;

padding:25px;

box-shadow:
0 8px 32px rgba(
    0,
    0,
    0,
    0.3
);


}

.title{
font-size:3.5rem;
font-weight:700;


background:
linear-gradient(
    90deg,
    #38bdf8,
    #818cf8
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;


}

.subtitle{
color:#cbd5e1;
font-size:1.1rem;
}

.card-header-custom{
font-size:1.4rem;
font-weight:600;
margin-bottom:20px;
}

.camera-feed{
width:100%;
border-radius:20px;
}

.capture-btn{
width:100%;
margin-top:20px;
padding:14px;


border:none;

border-radius:15px;

font-size:18px;
font-weight:600;

color:white;

background:
linear-gradient(
    90deg,
    #3b82f6,
    #8b5cf6
);

transition:0.3s;


}

.capture-btn:hover{
transform:translateY(-2px);
}

.status-box{
background:
rgba(
255,
255,
255,
0.05
);


padding:20px;

border-radius:15px;


}

.captured-image{
width:100%;
max-width:500px;
border-radius:20px;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#3b82f6;
border-radius:10px;
}
